<h1>Task</h1>
<h2>Details</h2>



<ul>
  <li><strong>Title:</strong> <%= @task[:title] %></li>
  <li><strong>Details:</strong> <%= @task[:details] %></li>
  <li><strong>Completed:</strong> <%= @task[:Completed] %></li>

</ul>












